.alerts {
    z-index: 99999999999;
    position: fixed;

    @include to(sm) {
        width: 90%;
        margin-left: 5%;
        bottom: 1rem;
    }

    @include from(sm) {
        top: 10px;
        right: 10px;
        width: 230px;
        max-width: 230px;
    }

    .alert {
        display: block;
        position: relative;
        color: #fff;
        border-radius: $radius-sm;
        padding: $padding-lg;
        border-left: 3px solid $color;
        width: 100%;
        margin-bottom: 0.5rem;
        font-size: 0.9rem;
        transition: 0.5s;
        opacity: 1;
        visibility: visible;

        @each $name, $color in $colors {
            &.is-#{$name} {
                background-color: $color;
            }
        }
        a {
            color: #fff;
            text-decoration: underline;
        }
    }

    .alert-delelete-transition {
        opacity: 0;
        visibility: hidden;
    }

    .alert.faded-out {
        opacity: 0;
    }

    .alert-delete {
        position: absolute;
        top: 3px;
        right: 3px;
        cursor: pointer;
        font-size: 0.8rem;
        display: inline-block;
        @include to(sm) {
            font-size: 1.2rem;
        }
    }
}