$icons: 5;

.skills {
    display: grid;
    grid-template-columns: rpt(5, 1fr);
    text-align: center;
    column-gap: 10%;
    row-gap: 1rem;

    span {
        font-size: 2rem;
    }

    @include from(md) {
        column-gap: 20%;
        $i: 0;

        @while $i <=$icons {
            span:nth-child(#{$i}), span:nth-child(#{$i + 5}) {
                display: inline-block;
                animation: float 4s infinite ease-in-out;
                animation-delay: #{_div($i, 2)}s;
            }

            $i: $i+1;
        }
    }

}

@keyframes float {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(0px, 16px);
    }

    100% {
        transform: translate(0px, 0px);
    }
}