.iam {
    text-align: center;
    margin-top: $margin-lg;
    margin-bottom: $margin-lg;

    h1 {
        font-size: 3rem;
        line-height: 2.8rem;

        @include from(md) {
            font-size: 5rem;
        }
    }

    &-description {
        margin-top: $margin-lg;
        letter-spacing: 0.3rem;

        @include from(md) {
            font-size: 1.5rem;
        }
    }
}

.contact-form {
    margin-top: $margin-lg;
}