$navbar-bg: $bg;

.line {
    height: 2px;
    width: 100%;
    // background: rgb(61, 178, 255);
    // background: linear-gradient(90deg, rgba(61, 178, 255, 1) 25%, rgba(239, 71, 111, 1) 75%);
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    animation: gradient 6s ease infinite;
    background-size: 200% 200%;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.navbar {
    width: 100%;
    background-color: $navbar-bg;
    z-index: 9999;
    height: 60px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 0.9rem;
    display: grid;
    @include col(6 1);

    div {
        @include center-y;
    }

    a {
        transition: color 0.3s;

        &:hover {
            color: $primary-color;
        }
    }

    &-right {
        a {
            text-transform: uppercase;
            font-weight: bold;
            margin-right: 1.4rem;
        }
    }

    &-left {
        display: flex;
        justify-content: flex-end;
        font-size: 1.1rem;

        a {
            margin-left: 1rem;
        }
    }
}