.tippy-box[data-theme~='navbar'] {
    background-color: $color;
    color: $bg;

    &[data-placement^='top']>.tippy-arrow::before {
        border-top-color: $color;
    }

    &[data-placement^='bottom']>.tippy-arrow::before {
        border-bottom-color: $color;
    }

    &[data-placement^='left']>.tippy-arrow::before {
        border-left-color: $color;
    }

    &[data-placement^='right']>.tippy-arrow::before {
        border-right-color: $color;
    }
}


.navbar-brand {
    position: fixed;

    img,
    svg {
        width: 36px;
        height: 36px;
    }

    left: 0;
    top: 14px;
    z-index: $navbar-index + 10;
    width: 100%;
    @include center-x;

    @include to(md) {
        top: 0;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: $secondary-bg;
    }

    @include from(md) {
        left: 14px;
        width: 36px;
        transition: 0.3s;
    }

}

.navbar-theme {
    color: $color;
    display: block;
    position: fixed;
    @include center;
    z-index: $navbar-index + 20;
    font-size: 1.3rem;
    cursor: pointer;

    @include to(md) {
        font-size: 1.5rem;
        top: _div($navbar-height - 28, 2);
        right: 20px;
    }

    @include from(md) {
        left: 9px;
        bottom: 52px;
        width: 46px;
        height: 46px;
    }
}

.navbar-menu {
    color: $color;
    position: fixed;
    z-index: $navbar-index + 15;
    font-size: 1.5rem;
    cursor: pointer;
    left: 20px;

    @include to(md) {
        top: _div($navbar-height - 35, 2);
    }

    @include from(md) {
        bottom: 14px;
    }
}

.navbar {
    z-index: $navbar-index;
    position: fixed;
    background-color: $secondary-bg;
    color: $color;
    width: $navbar-width;
    height: 100vh;
    top: 0;
    
    @include from(md) {
        box-shadow: 1px 0px 15px 0px rgba(0, 0, 0, 0.08);
        transition: padding 0.3s;
        &.is-open {
            padding-right: 224px;

            .nav-item {
                .nav-text {
                    visibility: visible;
                    opacity: 1;
                }

                .nav-icon{
                    // width: 55px;
                    border-radius: $radius-sm 0 0 $radius-sm;
                }

                &:hover {
                    .nav-text {
                        background-color: $color;
                        color: $secondary-bg;
                    }
                }
            }

        }
    }

    @include to(md) {
        transition: transform 0.2s;
        width: 100%;
        transform: translate(-100%, 0);
        &.is-open {
            transform: translate(0, 0) !important;
        }
    }
}

.nav {
    padding-top: 60px;
    
    @include from(md) {
        padding-top: 64px;
    }

    .nav-item {
        margin-top: .5rem;
        margin-bottom: 0.5rem;
        display: grid;
        grid-template-columns: ($navbar-width - 9) 160px;
        padding-right: 9px;

        @include from(md) {
            &:hover {
                .nav-icon{
                    background-color: $color;
                    color: $secondary-bg;
                }
            }
        }

        .nav-icon{
            border-radius: $radius-sm;
            transition: 0.3s;
            width: 46px;
            height: 46px;
            padding: 6px;
            margin-left: 9px;
            @include center;
            font-size: 1.3rem;
        }

        .nav-text {
            transition: 0.3s;
            border-radius: 0 $radius-sm $radius-sm 0;
            @include center-y;

            @include from(md) {
                opacity: 0;
                visibility: hidden;
            }
        }
        &.is-active  {
            opacity: 0.6;
        }
        // @include from(md) {
        //     &.is-active {
        //         // opacity: 0.5;
        //         .nav-icon{
        //             background-color: $primary-color !important;
        //             color: #fff !important;
        //         }
        //         .nav-text {
        //             background-color: $primary-color !important;
        //             color: #fff !important;
        //         }
        //     }
        // }
    }
}