.project {
    border-radius: 1rem;
    text-align: center;
    background: rgb(61, 178, 255);
    background: linear-gradient(90deg, rgba(61, 178, 255, 1) 25%, rgba(239, 71, 111, 1) 75%);
    padding: 1px;

    .content {
        padding: 0.3rem 0.8rem;
        background-color: $bg;
    }

    h3 {
        font-size: 1.2rem;
        margin-bottom: $margin;
        font-weight: 500;
    }

    &-links {
        margin-top: $margin;
        display: grid;
        @include col(1 1);
    }
}