.project {
    text-align: center;

    .content {
        padding: 0.3rem 0.8rem;
        background-color: $bg;
    }

    h3 {
        font-size: 1.2rem;
        margin-bottom: $margin;
        font-weight: 500;
    }

    &-links {
        margin-top: $margin;
        display: grid;
        @include col(1 1);
    }
}