@import './base/reset';
@import './base/base';

@import './config/config';
@import './../node_modules/ascendcss/ascendcss.scss';

@import './helpers/mixins';

@import './components/general/badge';
@import './components/general/breadcrumb';
@import './components/general/button';
@import './components/general/collape';
@import './components/general/dropdown';
@import './components/general/form';
@import './components/general/image';
@import './components/general/input';
@import './components/general/select';
@import './components/general/share';
@import './components/general/textarea';

@import './utils/utilities';
@import './base/icons';

// general tags / elements
@import './utils/tags';

@import "./components/layout/footer";
@import "./components/layout/navbar";
@import "./components/artists/artist";
@import "./components/project/project";

@mixin container {
    padding-left: 1rem;
    padding-right: 1rem;

    @include from(md) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }
}

.container {
    @include container;

    &.has-top-margin {
        padding-top: 1.5rem;
    }
}