@import "./config/config";
@import "./config/variables";
@import "./config/base";
@import "../node_modules/ascendcss/ascendcss.scss";
@import "./components/buttons";
@import "./components/container";
@import "./components/form";
@import "./components/navbar";

@import "./ui/tags";
@import "./ui/button";
@import "./ui/form";
@import "./ui/input";
@import "./ui/textarea";
@import "./ui/select";
@import "./ui/checkbox";
@import "./ui/card";
@import "./ui/gallery";
@import "./ui/badge";
@import "./ui/breadcrumb";
@import "./ui/utils";
@import "./ui/grid";
@import "./ui/image";
@import "./ui/modal";
@import "./ui/alerts";
@import "./ui/collape";
@import "./ui/dropdown";
@import "./ui/share";

@import "./icons/icons";

@import "./components/footer";
@import "./components/artists/artist";

html {
    font-family: 'Nunito Sans', sans-serif;
}

* {
    img {
        user-select: none !important;
    }

    .badge,
    .breadcrumb {
        user-select: none !important;
    }

    button {
        user-select: none !important;
    }
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.home-banner {
    background-image: linear-gradient($secondary-bg, rgba(0, 0, 0, 0.5)), url(https://i.imgur.com/tBRoLWy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    // height: 100%;
    padding: 8rem 0;
    @include center;
    border-radius: 0 0 rpt(2, 2rem);
    text-align: center;
}

.container {
    @include container;

    &.has-top-margin {
        padding-top: 1.5rem;
    }
}

.article-content {
    p {
        line-height: 1.2rem;
        color: darken(#C7C8C9, 15%);
        margin-bottom: 1.2rem;
    }

    a {
        color: $primary-color;
        font-weight: normal;
    }

    a:hover {
        text-decoration: underline;
    }

    iframe,
    img {
        border-radius: $radius-sm;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    @include from(md) {

        iframe,
        img {
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }

    }

    blockquote {
        background-color: $secondary-bg;
        // background-color: red;
        padding: 10px 15px;
        border-left: 4px solid $primary-color;
        position: relative;
        border-radius: 0 rpt(2, $radius-sm) 0;
        margin: 1rem 0;
    }
}

ul,
ol {
    display: block;
    list-style: disc outside none;
    margin: 1em 0;
    padding: 0 0 0 40px;
}

ol {
    list-style-type: decimal;
}

li {
    display: list-item;
}

ul ul,
ol ul {
    list-style-type: circle;
    margin-left: 15px;
}

ol ol,
ul ol {
    list-style-type: lower-latin;
    margin-left: 15px;
}

.form-content {
    max-width: 600px;
    margin: auto;
}

[data-nextjs-dialog-overlay] {
    z-index: 999999999999999999999999999999999;
}

// @keyframes rotating {
//     from {
//         transform: rotate(0deg);
//     }

//     to {
//         transform: rotate(360deg);
//     }
// }

// .loading-logo {
//     animation: rotating 2s linear infinite;
// }

.loader {
    @include center;
}

.box-container {
    max-width: 600px;
    margin: auto;
}